.jumbotron {
	background-color: yellow;
	margin-top: 50px;
	color: black;
}



footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	
	margin-top: 10px;
}

.btn-reservar {
	width: 100%;
	border-radius:0px ;
}

.footer-address-icon {
	padding-right: 10px;

}

.tab-content {
	padding-top: 10px;
}