$yellow: #fffa19;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin padding ($top, $bottom ,$right, $left) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
    padding-left: $left;
}

.jumbotron {
	background-color: $yellow;
    color: black;
    @include margenes(50px, 15px ); }

footer {
	@include padding(10px,10px ,10px , 10px );
	background-color:$yellow;
	@include margenes(10px, 0px ); }


.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px ); }


.btn-reservar {
	width: 100%;
	border-radius:0px ; }

.footer-address-icon {
	@include padding(0px,0px ,10px ,0px ); }

.tab-content {
	@include padding(10px,0px ,0px ,0px ); }