.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reservar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 0px;
}
.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
