@yellow: #fffa19;

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom; }

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px,15px); }

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: @yellow;
    .margenes(10px,0px);}

.card-hotel {
    flex: 1 200px;
    .margenes(10px,0px); }

.btn-reservar {
    width: 100%;
    border-radius: 0px; }

.footer-address-icon {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 0px; }
    
.tab-content {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px; }
